.notice-2HEN-u.colorStreamerMode-8uoRWd
{ width: flex;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 170px;
  top: 8px; 
  border-radius: 4px; }
.closeButton-30b1gR,
.button-1iHNQ2
{ height: 23px; 
  line-height: 23px; 
  top: 4px;}