html {
    background-color: #202225;
}

* {
    font-family: Microsoft YaHei UI Light;
    font-size: 20px;
}

.header {
    font-size: 27px;
}

* {
    color: white;
}

/* Setting buttons */
.setting:hover {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
    background-color: #565656;
}

.setting:active {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

    background-color: #717171;
}

/* Split divs */
.settings-options {
    padding: 0;
    margin: 0;

    width: 30%;
    min-height: 100vh;
    background-color: #484848;
    float: left;
    padding-left: 16px;
}
#settings-content {
	float: left;
	padding-left: 16px;
}